USE [master]
GO
/****** Object:  Database [BookInventory]    Script Date: 2024/10/24 17:42:33 ******/
CREATE DATABASE [BookInventory]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BookInventory', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\BookInventory.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BookInventory_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\BookInventory_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BookInventory].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BookInventory]
GO
/****** Object:  UserDefinedFunction [dbo].[func_SplitAuthorInfo]    Script Date: 2024/10/24 17:42:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[func_SplitAuthorInfo]
(
    @InputString VARCHAR(100)  -- The input string containing the ID, name, surname, and DOB
)
RETURNS @Result TABLE  -- Returns a table with the split values
(
    ID INT,                   -- ID of the author or record
    [Name] NVARCHAR(100),      -- Name of the author, without single quotes
    Surname NVARCHAR(100),     -- Surname of the author, without single quotes
    DOB DATE                   -- Date of Birth in 'yyyy/mm/dd' format
)
AS
BEGIN
    -- =====================================================================
    -- Description: This function takes a formatted input string containing 
    --              an author's ID, name, surname, and DOB, splits the string, 
    --              and returns the values in a table format. The DOB is formatted
    --              as 'yyyy/mm/dd'.
    --
    -- Parameters:
    --     @InputString (VARCHAR(100)): A string formatted as:
    --                 id,''name'',''surname'',''yyyy/mm/dd''.
    --                 The ID should be an integer, while name, surname, and DOB
    --                 should be enclosed in double single quotes.
    --
    -- Returns:
    --     A table with the following columns:
    --         - ID (INT): The ID of the author.
    --         - Name (NVARCHAR(100)): The author's name without single quotes.
    --         - Surname (NVARCHAR(100)): The author's surname without single quotes.
    --         - DOB (NVARCHAR(10)): The author's date of birth in 'yyyy/mm/dd' format.
    --
    -- Example Call: 
    --     SELECT * FROM dbo.SplitBookInfo('1,''John'',''Doe'',''2024/03/21''');
    --
    -- Note: This function uses STRING_SPLIT to separate the input string 
    --       by commas and ROW_NUMBER to handle the sequence of values.
    -- =====================================================================

    -- Split the input string and store values in a temporary table
    WITH SplitValues AS (
        SELECT 
            value, 
            ROW_NUMBER() OVER (ORDER BY (SELECT NULL)) AS RowNum  -- Assign row numbers to each split value
        FROM STRING_SPLIT(@InputString, ',')  -- Split by comma
    )
    
    INSERT INTO @Result (ID, Name, Surname, DOB)  -- Insert into the result table
    SELECT 
        CAST(MAX(CASE WHEN RowNum = 1 THEN value END) AS INT),  -- Cast first value to ID
        LTRIM(RTRIM(REPLACE(MAX(CASE WHEN RowNum = 2 THEN value END), '''', ''))),  -- Clean and trim name
        LTRIM(RTRIM(REPLACE(MAX(CASE WHEN RowNum = 3 THEN value END), '''', ''))),  -- Clean and trim surname
        -- Extract DOB directly since it's already in 'yyyy/mm/dd' format
        LTRIM(RTRIM(REPLACE(MAX(CASE WHEN RowNum = 4 THEN value END), '''', '')))
    FROM SplitValues;

    RETURN;  -- Return the result table
END;
GO
/****** Object:  UserDefinedFunction [dbo].[Publications]    Script Date: 2024/10/24 17:42:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[Publications]
(
    @Author_ID  INT
)
RETURNS INT
AS
BEGIN
    RETURN (SELECT COUNT(*) FROM BookAuthor WHERE BookAuthor.Author_ID = @Author_ID); 
END;
GO
/****** Object:  Table [dbo].[Author]    Script Date: 2024/10/24 17:42:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Author](
	[Author_ID] [int] IDENTITY(1,1) NOT NULL,
	[Author_Name] [nvarchar](100) NOT NULL,
	[Author_Surname] [nvarchar](100) NOT NULL,
	[Publications] [int] NULL,
	[DOB] [date] NULL,
 CONSTRAINT [PK_Author] PRIMARY KEY CLUSTERED 
(
	[Author_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Book]    Script Date: 2024/10/24 17:42:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Book](
	[Book_ID] [int] IDENTITY(1,1) NOT NULL,
	[Book_ISBN] [varchar](20) NOT NULL,
	[Book_Title] [nvarchar](255) NOT NULL,
	[PublicationYear] [smallint] NOT NULL,
	[Quantity] [tinyint] NOT NULL,
	[Genre] [varchar](100) NOT NULL,
 CONSTRAINT [PK_Book] PRIMARY KEY CLUSTERED 
(
	[Book_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BookAuthor]    Script Date: 2024/10/24 17:42:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BookAuthor](
	[Book_ID] [int] NOT NULL,
	[Author_ID] [int] NOT NULL,
 CONSTRAINT [PK_BookAuthor] PRIMARY KEY CLUSTERED 
(
	[Book_ID] ASC,
	[Author_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Author] ON 

INSERT [dbo].[Author] ([Author_ID], [Author_Name], [Author_Surname], [Publications], [DOB]) VALUES (5, N'Mark P. O. ', N'Morford', 3, CAST(N'1950-05-15' AS Date))
INSERT [dbo].[Author] ([Author_ID], [Author_Name], [Author_Surname], [Publications], [DOB]) VALUES (6, N'Richard Bruce ', N'Wright', 2, CAST(N'1945-03-01' AS Date))
INSERT [dbo].[Author] ([Author_ID], [Author_Name], [Author_Surname], [Publications], [DOB]) VALUES (7, N'Carlo ', N'D''Este', 1, CAST(N'1943-07-10' AS Date))
SET IDENTITY_INSERT [dbo].[Author] OFF
GO
SET IDENTITY_INSERT [dbo].[Book] ON 

INSERT [dbo].[Book] ([Book_ID], [Book_ISBN], [Book_Title], [PublicationYear], [Quantity], [Genre]) VALUES (5, N'0-195-15344-8', N'Classical Mythology', 2002, 1, N'Mystery')
INSERT [dbo].[Book] ([Book_ID], [Book_ISBN], [Book_Title], [PublicationYear], [Quantity], [Genre]) VALUES (6, N'0-002-00501-8', N'Clara Callan', 2001, 1, N'Comedy')
INSERT [dbo].[Book] ([Book_ID], [Book_ISBN], [Book_Title], [PublicationYear], [Quantity], [Genre]) VALUES (7, N'0-060-97312-9', N'Decision in Normandy', 1991, 1, N'Drama')
SET IDENTITY_INSERT [dbo].[Book] OFF
GO
INSERT [dbo].[BookAuthor] ([Book_ID], [Author_ID]) VALUES (5, 5)
INSERT [dbo].[BookAuthor] ([Book_ID], [Author_ID]) VALUES (5, 6)
INSERT [dbo].[BookAuthor] ([Book_ID], [Author_ID]) VALUES (6, 6)
GO
ALTER TABLE [dbo].[BookAuthor]  WITH CHECK ADD  CONSTRAINT [FK_BookAuthor_Author] FOREIGN KEY([Author_ID])
REFERENCES [dbo].[Author] ([Author_ID])
GO
ALTER TABLE [dbo].[BookAuthor] CHECK CONSTRAINT [FK_BookAuthor_Author]
GO
ALTER TABLE [dbo].[BookAuthor]  WITH CHECK ADD  CONSTRAINT [FK_BookAuthor_Book] FOREIGN KEY([Book_ID])
REFERENCES [dbo].[Book] ([Book_ID])
GO
ALTER TABLE [dbo].[BookAuthor] CHECK CONSTRAINT [FK_BookAuthor_Book]
GO
/****** Object:  StoredProcedure [dbo].[helper_proc_ExtractAuthorsToTable]    Script Date: 2024/10/24 17:42:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[helper_proc_ExtractAuthorsToTable]
                 @Authors               VARCHAR(MAX)
AS 
BEGIN
    --=====================================================================
    --Procedure Name: helper_proc_ExtractAuthorsToTable
    --Description: This helper procedure extracts author information from a 
    --             formatted string and inserts it into a temporary table. 
    --             It utilizes the SplitBookInfo function to parse the author 
    --             records into separate fields.
    --
    --Parameters:
    --    @Authors (VARCHAR(MAX)): A string containing author records formatted as:
    --             id1,''name1'', ''surname1'',''yyyy/mm/dd'';id2,''name2'',''surname2'',''yyyy/mm/dd';...
    --             Each author record should be separated by a semicolon (;).
    -- 
    --Return Values: 
    --    Returns the records from the temporary table containing extracted 
    --    author details (ID, AuthorName, AuthorSurname, DOB).
    --
    --Example Call: 
    --    EXEC helper_proc_ExtractAuthorsToTable 
    --        @Authors = '0,''John'',''Doe'',''1986/12/15'';0,''Jane'',''Smith'',''1761/12/25''';
    --
    --Note: This procedure uses the STRING_SPLIT function available in SQL Server 
    --      for breaking the input string into records.
    --=====================================================================
    
    --Create a tempory author table for authors
    CREATE TABLE #TempAuthors 
    (
         [ID] INT,
         AuthorName         NVARCHAR(150),
         AuthorSurname      NVARCHAR(150),
         DateOfBirth                DATE
    );
    DECLARE @AuthorRecord   NVARCHAR(300);
    --Create a curso that will go through the author records
    DECLARE AuthorRecordCursor CURSOR FOR
    SELECT VALUE FROM STRING_SPLIT(@Authors, ';') WHERE VALUE <> '';  -- Break the string into records

    OPEN AuthorRecordCursor;
    FETCH NEXT FROM AuthorRecordCursor INTO @AuthorRecord;

    WHILE @@FETCH_STATUS = 0
    BEGIN
        --Split the record and extract the output results using the function
        INSERT INTO #TempAuthors([ID], AuthorName, AuthorSurname, DateOfBirth)
        SELECT TOP 1 [ID], [Name], Surname, DOB
        FROM dbo.func_SplitAuthorInfo(@AuthorRecord);

        FETCH NEXT FROM AuthorRecordCursor INTO @AuthorRecord;
    END;

    SELECT * FROM #TempAuthors;

    --Clean- up
    CLOSE AuthorRecordCursor;
    DEALLOCATE AuthorRecordCursor;
    DROP TABLE #TempAuthors;
END;
GO
/****** Object:  StoredProcedure [dbo].[proc_AddBook]    Script Date: 2024/10/24 17:42:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[proc_AddBook]
                --For the book table
                @Book_ISBN          VARCHAR(20),
                @Book_Title         NVARCHAR(500),
                @Quantity           SMALLINT,
                @Publication        SMALLINT,
                @Genre              VARCHAR(200),
                @Book_ID            INT OUTPUT, -- ID of the book needed on the client side

                @Authors            VARCHAR(MAX)  -- Author details formatted as described below
AS
BEGIN
/*
    -- =====================================================================
    -- Procedure Name: proc_AddBook
    -- Description: Inserts a new book into the Book table and associates it 
    --              with its authors. Author details must be passed in a specific 
    --              format to be processed and inserted into the Author table.
    --
    -- Parameters:
    --     @Book_ISBN (VARCHAR(20)): ISBN of the book.
    --     @Book_Title (NVARCHAR(500)): Title of the book.
    --     @Quantity (SMALLINT): Quantity of the book.
    --     @Publication (SMALLINT): Publication year of the book.
    --     @Genre (VARCHAR(200)): Genre of the book.
    --     @Book_ID (INT OUTPUT): Output parameter to return the ID of the newly 
    --                            inserted book.
    --     @Authors (VARCHAR(MAX)): Author details formatted as:
    --         id1,''name1'', ''surname1'','dob1';id2,''name2'',''surname2'',''dob2'';...
    --         where id is 0 to add a new author, and each field is 
    --         separated by a comma, with double single quotes as text qualifiers.
               --Note: The date is formatted as follows: yyyy/mm/dd

    
    -- Error Handling: The procedure rolls back the transaction if any error 
    --                 occurs during the insertion of the book or authors.
    --
    -- Example Call: EXEC proc_AddBook 
    --                @Book_ISBN = '1234567890123', 
    --                @Book_Title = N'Example Book', 
    --                @Quantity = 10, 
    --                @Publication = 2023, 
    --                @Genre = 'Fiction', 
    --                @Book_ID = @OutputBookID OUTPUT, 
    --                @Authors = '0,''John'',''Doe'',''1986/01/03'';0,''Jane'',''Smith'',''1667/03/01''';

    -- Example Output:
    --     Book_ID         | Author_ID
    --     ----------------------------
    --          5          | 1
    --          5          | 2
    --
    -- This output returns the Book_ID and Author_ID(s) of the inserted or associated authors.
    -- The order of the author Id's is the sme as in the @Authors string
    -- =====================================================================
*/

    BEGIN TRANSACTION trans1

        --Add the book to the book-table
        INSERT INTO Book(Book_ISBN, Book_Title, Quantity, PublicationYear, Genre)
        VALUES(@Book_ISBN,@Book_Title,@Quantity,@Publication,@Genre);

        --Check if the insertion was susccessful
        IF @@ERROR <> 0
        BEGIN
            --Rollback the changes
            ROLLBACK TRANSACTION trans1
            SET @Book_ID = NULL;
            RETURN;
        END

        --SET THE BOOK ID
        SET @Book_ID = SCOPE_IDENTITY();

        --Create a tempory author table for authors
        CREATE TABLE #TempAuthorsDet 
        (
            [ID] INT,
            AuthorName         NVARCHAR(150),
            AuthorSurname      NVARCHAR(150),
            DOB                DATE
        );

        --Temporary variable for the author details for the cursor
        DECLARE @AuthorID       INT,
                @AuthorName     NVARCHAR(100),
                @AuthorSurname  NVARCHAR(100),
                @DOB            DATE, 
                @AuthorID_test  INT; --This will be used to check if an author with the same name exists

        
        INSERT INTO #TempAuthorsDet(ID, AuthorName, AuthorSurname, DOB)
        EXEC helper_proc_ExtractAuthorsToTable @Authors; --Insert the data of the other procedure to the temporary table

        --Create a cursor to loop through all the authors in the table
        DECLARE Author_Cursor CURSOR FOR 
        SELECT * FROM #TempAuthorsDet; 

        OPEN Author_Cursor;
        FETCH NEXT FROM Author_Cursor INTO @AuthorID, @AuthorName, @AuthorSurname, @DOB;

        WHILE @@FETCH_STATUS = 0
        BEGIN

            --Here we might need to also check if we are not duplicating authors(autho)
            --Check if an author with the same names exists
            SET @AuthorID_test = (SELECT Top 1 Author_ID FROM Author WHERE Author_Name = @AuthorName AND Author_Surname = @AuthorSurname AND DOB = @DOB);

            IF @AuthorID_test IS NOT NULL
            BEGIN
                --UPDATE THE TEMPORARY TABLE
                UPDATE #TempAuthorsDet 
                SET [ID] = @AuthorID_test
                WHERE AuthorName = @AuthorName
                AND   AuthorSurname = @AuthorSurname
                AND DOB = @DOB;

                --Update the authorID 
                SET @AuthorID = @AuthorID_test;
            END
            --Check if the author exists(by id)
            ELSE IF NOT EXISTS (SELECT Author_Name FROM Author WHERE Author_ID = @AuthorID)
            BEGIN
                --Create a new author record
                INSERT INTO Author(Author_Name, Author_Surname, Publications, DOB)
                VALUES(@AuthorName, @AuthorSurname, 0, @DOB);

                --Check if we had an error
                IF @@ERROR <> 0
                BEGIN
                    -- Cleanup before returning
                    CLOSE Author_Cursor;
                    DEALLOCATE Author_Cursor;
                
                    -- Rollback and return
                    ROLLBACK TRANSACTION trans1;
                    SET @Book_ID = NULL;
                    RETURN;
                END

                
                --Update the id in the temp_table
                UPDATE #TempAuthorsDet
                SET ID = SCOPE_IDENTITY()
                WHERE ID = @AuthorID 
                AND   AuthorName = @AuthorName
                AND   AuthorSurname = @AuthorSurname
                AND   DOB = @DOB;
                
                --Set the ID to the last generates ID
                SET @AuthorID = SCOPE_IDENTITY()
                
            END

            --Here the Author Exists in our database
            --Link the bookl and the author
            INSERT INTO BookAuthor(Book_ID, Author_ID)
            VALUES(@Book_ID, @AuthorID);

             --Check if we had an error
            IF @@ERROR <> 0
            BEGIN
                -- Cleanup before returning
                CLOSE Author_Cursor;
                DEALLOCATE Author_Cursor;
            
                -- Rollback and return
                ROLLBACK TRANSACTION trans1;
                SET @Book_ID = NULL;
                RETURN;
            END

            --Fetch the next record
            FETCH NEXT FROM Author_Cursor INTO @AuthorID, @AuthorName, @AuthorSurname, @DOB;
        END
    --Commit changes
    COMMIT TRANSACTION trans1

    --Return the results to the calling application
    SELECT @Book_ID AS Book_ID, #TempAuthorsDet.ID AS Author_ID
    FROM #TempAuthorsDet;
    
    --Clean-up
    CLOSE Author_Cursor;
    DEALLOCATE Author_Cursor;

    DROP TABLE #TempAuthorsDet;
END;
GO
/****** Object:  StoredProcedure [dbo].[proc_AddUpdateAuthor]    Script Date: 2024/10/24 17:42:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[proc_AddUpdateAuthor]
    @AuthorName         NVARCHAR(100), 
    @AuthorSurname      NVARCHAR(100),
    @DOB                DATE,
    @AuthorID           INT OUTPUT
AS 
BEGIN
    -- =====================================================================
    -- Procedure Name: proc_AddUpdateAuthor
    -- Description: This procedure checks if an author exists in the database. 
    --              If the author exists, it updates their details; if not, 
    --              it creates a new author record. The AuthorID is returned 
    --              as an output parameter.
    --
    -- Parameters:
    --     @AuthorName (NVARCHAR(100)): The name of the author.
    --     @AuthorSurname (NVARCHAR(100)): The surname of the author.
    --     @AuthorID (INT OUTPUT): The ID of the author. If the author exists, 
    --                              it remains the same; otherwise, it is 
    --                              set to the new author's ID.
    --
    -- Return Values:
    -- Return -1 for any caught errors
    --     1: Operation completed successfully.
    --
    -- Example Call: 
    --     DECLARE @AuthorID INT;
    --     EXEC proc_AddUpdateAuthor @AuthorName = N'John', 
    --                                @AuthorSurname = N'Doe', 
    --                                @AuthorID = @AuthorID OUTPUT,
    --                                @DOB      = '22/03/202454'          (This is in the format : dd/mm/yyyy)
    -- =====================================================================
    BEGIN TRY
        -- Check if the author exists
        IF EXISTS (SELECT * FROM Author WHERE Author_ID = @AuthorID)
        BEGIN
            -- Author exists, update the author's details
            UPDATE Author
            SET Author_Name = @AuthorName,
                Author_Surname = @AuthorSurname, 
                DOB = @DOB
            WHERE Author_ID = @AuthorID;

            -- Check if the update was successful
            IF @@ROWCOUNT = 0 
            BEGIN
                RETURN -1;  -- Return -1 for update failure
            END
        END
        ELSE
        BEGIN
            -- Author does not exist, insert a new author
            INSERT INTO Author(Author_Name, Author_Surname, DOB)
            VALUES(@AuthorName, @AuthorSurname, @DOB);

            -- Retrieve the new AuthorID
            SET @AuthorID = SCOPE_IDENTITY();  
        END;

        -- Return 1 for successful operation
        RETURN 1;
    END TRY
    BEGIN CATCH
        -- Handle errors that occur during the execution of SQL statements.
        -- Note: Some errors, such as syntax errors or permission issues, 
        -- may not be caught by TRY...CATCH.

        RETURN -1;  -- Return -1 for any caught errors
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[proc_FilterBook]    Script Date: 2024/10/24 17:42:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[proc_FilterBook] 
                @Book_Title             NVARCHAR(300),
                @Genre                  VARCHAR(100),
                @AuthorName             NVARCHAR(100),
                @AuthorSurname          NVARCHAR(100),
                @MustContainValues      BIT
AS
BEGIN
    /*
    -- =====================================================================
    -- PROCEDURE: proc_FilterBook
    --
    -- Description:
    --     This procedure dynamically filters books based on the provided
    --     parameters, such as book title, genre, author name, and author 
    --     surname. It also has a flag, `MustContainValues`, to specify 
    --     whether all provided criteria must be matched or whether any 
    --     of them can be matched.
    --
    -- Parameters:
    --     @Book_Title        NVARCHAR(300)   -- Filter by book title
    --     @Genre             VARCHAR(100)    -- Filter by genre
    --     @AuthorName        NVARCHAR(100)   -- Filter by author name
    --     @AuthorSurname     NVARCHAR(100)   -- Filter by author surname
    --     @MustContainValues BIT             -- 1 = Must match all criteria, 0 = Match any criteria
    --
    -- Notes:
    --     - The procedure constructs a dynamic SQL query to filter books
    --       based on the provided criteria.
    --     - The `MustContainValues` parameter determines whether the filter 
    --       conditions should all be met (`AND`) or if any of the conditions 
    --       can be met (`OR`).
    --     - The procedure filters books using a JOIN between the `Book`,
    --       `BookAuthor`, and `Author` tables.
    --
    -- Example Usage:
    --     - Find books with title containing 'Harry' and genre 'Fantasy':
    --       EXEC proc_FilterBook @Book_Title = 'Harry', @Genre = 'Fantasy', @MustContainValues = 1;
    --
    --     - Find books by author name 'J.K.' or surname 'Rowling':
    --       EXEC proc_FilterBook @AuthorName = 'J.K.', @AuthorSurname = 'owling', @MustContainValues = 0;
    -- =====================================================================
    */
    
    DECLARE @Sql          VARCHAR(MAX),
            @BracketAdded BIT;

    SET @BracketAdded = 0;

    SET @Sql = 'SELECT Book.Book_ID, 
                    Book.Book_ISBN, 
                    Book.Book_Title, 
                    Book.Genre, 
                    Book.PublicationYear, 
                    Book.Quantity, 
                    Author.Author_ID, 
                    Author.Author_Name, 
                    Author.Author_Surname, 
                    Author.DOB, 
                    Author.Publications AS AuthorPublications 
                FROM Book   
                INNER JOIN BookAuthor ON BookAuthor.Book_ID = Book.Book_ID 
                INNER JOIN Author ON BookAuthor.Author_ID = Author.Author_ID 
                WHERE 1 =1 '; 

    DECLARE @FilterAdded BIT = 0;

    IF(@Book_Title IS NOT NULL AND @Book_Title <> '')
    BEGIN
        IF @MustContainValues = 1
            SET @Sql = @Sql + ' AND Book.Book_Title LIKE ''%' + @Book_Title + '%''';
        ELSE
        BEGIN
            SET @Sql = @Sql + ' AND (Book.Book_Title LIKE ''' + @Book_Title + '%''';
            SET @FilterAdded = 1;
        END
    END

    IF(@Genre IS NOT NULL AND @Genre <> '')
    BEGIN
        IF @MustContainValues = 1
            SET @Sql = @Sql + ' AND Genre LIKE ''%' + @Genre + '%''';
        ELSE
        BEGIN
            IF @FilterAdded = 1
                SET @Sql = @Sql + ' OR Genre LIKE ''' + @Genre + '%''';
            ELSE
            BEGIN
                SET @Sql = @Sql + ' AND ( Genre LIKE ''' + @Genre + '%''';
                SET @FilterAdded = 1;
            END
        END
    END

    IF(@AuthorName IS NOT NULL AND @AuthorName <> '')
    BEGIN
        IF @MustContainValues = 1
            SET @Sql = @Sql + ' AND Author.Author_Name LIKE ''%' + @AuthorName + '%''';
        ELSE
        BEGIN
            IF @FilterAdded = 1
                SET @Sql = @Sql + ' OR Author.Author_Name LIKE ''' + @AuthorName + '%''';
            ELSE
            BEGIN
                SET @Sql = @Sql + ' AND ( Author.Author_Name LIKE ''' + @AuthorName + '%''';
                SET @FilterAdded = 1;
            END
        END
    END

    IF(@AuthorSurname IS NOT NULL AND @AuthorSurname <> '')
    BEGIN
        IF @MustContainValues = 1
            SET @Sql = @Sql + ' AND Author.Author_Surname LIKE ''%' + @AuthorSurname + '%''';
        ELSE
        BEGIN
            IF @FilterAdded = 1
                SET @Sql = @Sql + ' OR Author.Author_Surname LIKE ''' + @AuthorSurname + '%''';
            ELSE
            BEGIN
                SET @Sql = @Sql + ' AND ( Author.Author_Surname LIKE ''' + @AuthorSurname + '%''';
                SET @FilterAdded = 1;
            END
        END
    END

    IF @FilterAdded = 1
        SET @Sql = @Sql + ' )'; 

    EXEC(@Sql);
END;
GO
/****** Object:  StoredProcedure [dbo].[proc_FindBookByISBN]    Script Date: 2024/10/24 17:42:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[proc_FindBookByISBN]
                @BookISBN       VARCHAR(20)
AS
BEGIN
    -- =====================================================================
    -- Procedure Name: proc_FindBookByISBN
    -- Description: Retrieves book details based on the provided ISBN and 
    --              returns the associated authors and their publication counts.
    --
    -- Parameters:
    --     @BookISBN (VARCHAR(20)): The ISBN of the book to search for.
    --
    -- Output:
    --     Book_ID (INT): ID of the book.
    --     Book_ISBN (VARCHAR(20)): ISBN of the book.
    --     Book_Title (NVARCHAR(500)): Title of the book.
    --     Genre (VARCHAR(200)): Genre of the book.
    --     PublicationYear (SMALLINT): Year the book was published.
    --     Quantity (SMALLINT): Number of copies available.
    --     Author_ID (INT): ID of the author.
    --     Author_Name (NVARCHAR(150)): Name of the author.
    --     Author_Surname (NVARCHAR(150)): Surname of the author.
    --     AuthorPublications (INT): Number of publications by the author.
    --
    -- Example Call: EXEC proc_FindBookByISBN @BookISBN = '1234567890123';
    -- =====================================================================

    SELECT Book.Book_ID,
           Book.Book_ISBN,
           Book.Book_Title,
           Book.Genre,
           Book.PublicationYear,
           Book.Quantity,
           Author.Author_ID,
           Author.Author_Name,
           Author.Author_Surname,
           Author.DOB,
           Author.Publications AS AuthorPublications
    FROM Book
    INNER JOIN BookAuthor
        ON Book.Book_ISBN = @BookISBN --Filter the books before joining
        AND Book.Book_ID = BookAuthor.Book_ID
    INNER JOIN Author
        ON BookAuthor.Author_ID = Author.Author_ID;
END
GO
/****** Object:  StoredProcedure [dbo].[proc_LoadAllBooks]    Script Date: 2024/10/24 17:42:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[proc_LoadAllBooks]
AS
BEGIN
-- =====================================================================
-- Procedure Name: proc_LoadAllBook
-- Description: Retrieves all books from the database along with their 
--              associated authors' details. This procedure joins the 
--              Book, BookAuthor, and Author tables to return book 
--              information and the corresponding authors for each book.
--
-- Parameters:
--     None
--
-- Return Values:
--     The procedure returns the following columns for each book:
--         - Book_ID (INT): Unique identifier of the book.
--         - Book_ISBN (VARCHAR(20)): ISBN of the book.
--         - Book_Title (NVARCHAR(500)): Title of the book.
--         - Genre (VARCHAR(200)): Genre of the book.
--         - PublicationYear (SMALLINT): Year the book was published.
--         - Quantity (SMALLINT): Quantity of the book available.
--         - Author_ID (INT): Unique identifier of the author.
--         - Author_Name (NVARCHAR(150)): First name of the author.
--         - Author_Surname (NVARCHAR(150)): Last name of the author.
--         - AuthorPublications (INT): Number of publications by the author.
--
-- Example Call: EXEC proc_LoadAllBook;
-- =====================================================================

    SELECT Book.Book_ID,
       Book.Book_ISBN,
       Book.Book_Title,
       Book.Genre,
       Book.PublicationYear,
       Book.Quantity,
       Author.Author_ID,
       Author.Author_Name,
       Author.Author_Surname,
       Author.DOB,
       Author.Publications AS AuthorPublications
    FROM Book
    INNER JOIN BookAuthor
        ON Book.Book_ID = BookAuthor.Book_ID
    INNER JOIN Author
        ON BookAuthor.Author_ID = Author.Author_ID;
END;
GO
/****** Object:  StoredProcedure [dbo].[proc_RemoveBook]    Script Date: 2024/10/24 17:42:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[proc_RemoveBook]
                 @BookID        INT
AS
BEGIN
    -- Start a database transaction
    BEGIN TRANSACTION 

    -- First, check if the book exists in the Book table using the provided BookID
    IF EXISTS (SELECT Book_ID FROM Book WHERE Book.Book_ID = @BookID)
    BEGIN
        -- If the book exists, delete its relationships in the BookAuthor table
        DELETE FROM BookAuthor
        WHERE Book_ID = @BookID;

        -- Check if an error occurred during the deletion in the BookAuthor table
        IF @@ERROR <> 0
        BEGIN
            -- If an error occurred, roll back the transaction and return -1 to indicate failure
            ROLLBACK TRANSACTION;
            RETURN -1;
        END

        -- After successfully removing the relationships, delete the book itself from the Book table
        DELETE FROM Book
        WHERE Book_ID = @BookID;

        -- Check if an error occurred during the deletion in the Book table
        IF @@ERROR <> 0
        BEGIN
            -- If an error occurred, roll back the transaction and return -1 to indicate failure
            ROLLBACK TRANSACTION;
            RETURN -1;
        END
    END

    -- Commit the transaction if everything executed successfully
    COMMIT TRANSACTION

    -- Return 1 to indicate that the removal operation was successful
    RETURN 1;
END
GO
/****** Object:  StoredProcedure [dbo].[proc_UpdateBook]    Script Date: 2024/10/24 17:42:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[proc_UpdateBook]
                 --For the book table
                @Book_ISBN          VARCHAR(20),
                @Book_Title         NVARCHAR(500),
                @Quantity           SMALLINT,
                @Publication        SMALLINT,
                @Genre              VARCHAR(200),
                @Book_ID            INT,

                @Authors            VARCHAR(MAX)
AS
BEGIN 
    -- =====================================================================
    -- Procedure Name: proc_UpdateBook
    -- Description: Updates an existing book's details in the Book table 
    --              and replaces its associated authors with new entries 
    --              provided in the format specified. All previous authors 
    --              will be removed before linking the new authors.
    --
    -- Parameters:
    --     @Book_ISBN (VARCHAR(20)): ISBN of the book.
    --     @Book_Title (NVARCHAR(500)): Title of the book.
    --     @Quantity (SMALLINT): Quantity of the book.
    --     @Publication (SMALLINT): Publication year of the book.
    --     @Genre (VARCHAR(200)): Genre of the book.
    --     @Book_ID (INT ): ID of the updated book.
    --     @Authors (VARCHAR(MAX)): Author details formatted as:
    --         id1,''name1'', ''surname1'';id2,''name2'',''surname2'';...
    --         where id is 0 to add a new author, and each field is 
    --         separated by a comma, with double single quotes as text qualifiers.
    --
    -- Return Values:
    --     0: An error occurred during the update process.
    --     -1: An error occurred during deletion or author insertion.
    --     1: Update and author replacement completed successfully.
    --
    -- Example Call: EXEC proc_UpdateBook 
    --                @Book_ISBN = '1234567890123', 
    --                @Book_Title = N'Updated Book Title', 
    --                @Quantity = 5, 
    --                @Publication = 2024, 
    --                @Genre = 'Non-Fiction', 
    --                @Book_ID = @OutputBookID OUTPUT, 
    --                @Authors = '2,''Alice'',''Smith'';3,''Bob'',''Johnson''';
    -- =====================================================================

    BEGIN TRANSACTION tras1

    --Create a tempory author table for authors
    CREATE TABLE #TempAuthorsDet 
    (
        [ID] INT,
        AuthorName         NVARCHAR(150),
        AuthorSurname      NVARCHAR(150), 
        DOB                DATE
    );

    --First update the book table
    UPDATE Book
    SET Book_ISBN = @Book_ISBN,
        Book_Title = @Book_Title,
        Quantity = @Quantity,
        PublicationYear = @Publication,
        Genre = @Genre
    WHERE Book_ID = @Book_ID;

    --Check if there wan an update or an error 
    --If there was no change an error, we need to abort
    IF @@ERROR <> 0 OR @@ROWCOUNT < 1
    BEGIN
        ROLLBACK TRANSACTION trans1;
        RETURN 0;
    END

    --Here the book update was a success 
    --Remove all the authors linked to the book, they will be relinked again
    DELETE FROM BookAuthor
    WHERE Book_ID = @Book_ID;

    IF @@ERROR <> 0
    BEGIN 
        ROLLBACK TRANSACTION trans1;
        RETURN -1;
    END

    --Extract the authors string and add them to the temporary table
    INSERT INTO #TempAuthorsDet(ID, AuthorName, AuthorSurname, DOB)
    EXEC dbo.helper_proc_ExtractAuthorsToTable @Authors;

    IF @@ERROR <> 0
    BEGIN 
        ROLLBACK TRANSACTION trans1;
        RETURN -1;
    END

    --Re-link the authors and books
    --We assume that the authors have already been added to the database
    INSERT INTO BookAuthor(Book_ID, Author_ID)
    SELECT @Book_ID AS Book_ID, [ID] AS Author_ID
    FROM #TempAuthorsDet;

        IF @@ERROR <> 0
    BEGIN 
        ROLLBACK TRANSACTION trans1;
        RETURN -1;
    END

    DROP TABLE #TempAuthorsDet;
    COMMIT TRANSACTION trans1;

    RETURN 1;
END;
GO
USE [master]
GO
